<a href="https://colab.research.google.com/github/DeisyData/BIT_IA_Bootcamp/blob/main/S10_C5_Twitter_NGram_skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import matplotlib.pyplot as plt


# NLP
import re # regulary expression
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from nltk.util import ngrams
from collections import Counter

# Paso 1. Cargar Datos y Limpiar

In [38]:
# Cargar datos
data = pd.read_csv('twitter.csv')

# Mostrar primeras filas
print(data.head())

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

* label 0 = positive
* label 1 = negative

¿Cuál es la distribución de las clases?

In [40]:
data['label'].value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [41]:
data = data.drop(columns=['id'])
# Mostrar primeras filas
print(data.head())

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [55]:
# Limpiar texto
def clean_text(text):
      # sub(patron (regular expresion), texto de reemplazo, testo input)
      text = re.sub(r'@[A-Za-z0-9_]+', '', text )# Eliminar menciones @Deisy
      text = re.sub(r'http\S+', '', text )  # Eliminar
      text = re.sub(r'www\S+', '', text )  # Eliminar URLs
      text = re.sub(r'#', '',text)          # Eliminar hashtags
      text = re.sub(r"[^A-Za-z \s']",' ',text) # elimina todo lo que no es letras mayus o minus espacios y comilla sencilla"'"
      text = text.lower()              # Convertir a minúsculas lower(), eliminar nueva linea o tabulacion strip()
      return text

data['clean_tweet'] = data['tweet'].apply(clean_text)

In [57]:
print(data['tweet'].head(3))

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
Name: tweet, dtype: object

In [58]:
print(data['clean_tweet'].head(3))

0      when a father is dysfunctional and is so sel...
1      thanks for lyft credit i can't use cause the...
2                                  bihday your majesty
Name: clean_tweet, dtype: object

# Paso 2. Tokenizacion y elminicación de stop words

In [59]:
import nltk
nltk.download('punkt_tab')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [62]:
# Cargar las stopwords en ingles
stop_words = set(stopwords.words('english'))

# tokens
def tokenize_text(text):

# Paso 3. N-gram

In [45]:
# Crear N-grams y contar su frecuencia

In [46]:
# Unigrams, bigrams y trigrams


# Mostrar los 10 más frecuentes

In [47]:
# Visualizar bigrams más frecuentes



```
# This is formatted as code
```

# Paso 4. Colocación (Collocations)

¿ Cómo eliminamos los términos irrelevantes?